<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks a lot for viewing me :), <%=@temail %></h1>
    <p>
      I will be responding to your querry soon :) {generally within 6 hours} <br>
    </p>
    <p>
      please call me if it is some urgent work :)
    </p>
    <p>Thanks again <br> KUSH MISRA</p>
  </body>
</html>