#connect{
	height: 350px;
	width: 100%;
	display: flex;
}

#conside{
	width: 50%;
	height: 100%;
	/*background-color: red;*/
	background-image: url("/images/connect.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#conside > div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#conside > div > div {
	width: 15%;
}

#con{
	width: 50%;
	height: 100%;
	
	/*background-color: green;*/
}

#contitle{
	padding: 3%;
}

#live{
	padding: 3%;

	

}


@media only screen and (max-width: 1200px) {
    
	#connect{
		height: 550px;
		flex-direction: column;
		flex-wrap: wrap;
	}

	#con{
		width: 100%;
		height: 200px;
	}

	#conside{
		width: 100%;
		height: 350px;
	}
	

}
