#bbpage{
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
}

#bbside{
	width: 50%;
	height: 400px;
	
}

#bb{
	width: 50%;
	height: 400px;
	display: flex;
	flex-direction: column;
	
}

#bbtitle{
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
}
#aboutbb{
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}

@media only screen and (max-width: 1200px) {
    
	#bbpage{
		height: 800px;
		flex-direction: column;
		flex-wrap: wrap;
	}

	#bb{
		width: 100%;
		height: 100px;
	}

	#bbside{
		width: 100%;
		height: 700px;
	}
	

}

@media only screen and (max-width: 650px) {
    
	#bbpage{
		height: 510px;
		flex-direction: column;
		flex-wrap: wrap;
	}

	#bb{
		width: 100%;
		height: 100px;
	}

	#bbside{
		width: 100%;
		height: 400px;
	}
	

}