#fourp{
	width: 100%;
	height: 504px;
	display: flex;
	flex-direction: row;
}

#nda{
	width: 50%;
}

#ndaside{
	width: 50%;
}

#ndai{
	width: 100%;
	height: 100%;
}

#ndatitle{
	padding: 5%;
}

#ndainfo{
	display: flex;
	flex-direction: row;
	padding:5%;
}

#helped{
	margin-left: 3px; 
	height: 100%; 
	width: 70%; 
	border-left-color: rgba(0,0,0,0.4); 
	border-left-width: 2px; 
	border-left-style: solid;  
	padding: 2%;
}

@media only screen and (max-width: 1200px) {
    
	#fourp{
		height: 1100px;
		flex-direction: column;
		flex-wrap: wrap;
	}

	#nda{
		width: 100%;
		height: 504px;
	}

	#ndaside{
		width: 100%;
		height: 504px;
	}
	

}

@media only screen and (max-width: 650px) {
    
    #ndainfo > div{
    	width: 100%;
    	text-align: center;
    }

    #fourp{
		height: 1000px;
	}

	#ndainfo{
		flex-direction: column;
	}

	#ndaside{
		width: 100%;
		height: 400px;
	}
	
	#helped{
		height: 100%;  
		border-left-style: none;  
		padding: 2%;
	}

}
